html {
    display: flex;
    height: 100%;
  }
  
  body {
    color: #585858;
    flex: 1;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
  }
  
  a {
    color: #9a9a9a;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  #main-wrapper {
    min-height: 100%;
  }
  
  #main-wrapper .page-side {
    height: 100%;
    left: 0;
    position: absolute;
    width: 50%;
  }
  
  #main-wrapper #left-side {
    background-color: transparent;
    background-image: url("../images/notebook.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  
  #main-wrapper #right-side {
    right: 0;
    left: auto;
  }
  
  .side-inner {
    padding: 50px 30px;
    width: 350px;
  }
  